@charset "UTF-8";

html {
margin: 0;
padding: 0;
width: 100%;
}

body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-image: url("imagens/fundo.jpg");
  background-size: cover;
  display: table;
}

.j1 {
  
  text-align: left;
}

.nav {
height: 82px;
}

ul{
margin: 20px auto;
width: 1100px;
height: 50px;
list-style: circle;
border-radius: 30px;
}

li{
margin-top: 26px;
display: inline-block;
}

li a {
text-decoration: none;
color: rgb(20, 19, 19);
text-transform: uppercase;
font-family: "Open Sans Condensed", sans-serif;
font-weight: lighter;
font-size: 24px;
transition: 2s;
padding: 25px 30px;
border-radius: 30px;
background: white;
}

li a:hover {
  transition: 1s;
  color: black;
  background: rgba(255,255,0.7)
}
      
____________________________________

/* Elementos com o ID "titulo" */
#titulo {
  font-family: sans-serif;
  color: #380B61;
  margin-left: 7%;
} 

/* Elementos com o ID "subtitulo" */
#subtitulo {
  font-family: sans-serif;
  color: #380B61;
  margin-left: 10%;
} 

#check{
  display: inline-block;
  font-family: sans-serif;
}

/* Elementos de tag <fieldset>*/
fieldset {
  border: 0;
  font-family: sans-serif;
}

/* Elemento de tag <body> */


/* Elementos de tags <body>, <input>, <Select>, <textarea> e <button> */
input, select, textarea, button {
  font-family: sans-serif;
  font-size: 1em;
  color: #59429d;
  border-radius: 5px;
}

/* Elementos de classe "grupo" nos estados das pseudoclasses "before" e "after" */
.grupo:before, .grupo:after {
  display: table;
  font-family: sans-serif;
}

/* Elementos de classe "grupo" no estado da pseudoclasse "after" */
.grupo:after {
  clear: both;
  font-family: sans-serif;
}

/* Elementos de classe "campo" */
.campo {
  margin-bottom: 1em;
  font-family: sans-serif;
}

/* Elementos de classe "campo" de tag <label> */
.campo label {
  margin-bottom: 0.2em;
  color: #59429d;
  display: block;
  font-family: sans-serif;
}

/* Elementos de classe "campo" ou "grupo" de tag <fieldset> */
fieldset.grupo .campo {
  float:  left;
  margin-right: 1em;
  font-family: sans-serif;
}

/* Elementos de classe "campo" das tags <input> com atributo text e email, da tag <select> e da tag <textarea>*/
.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
  padding: 0.2em;
  border: 1px solid #59429d;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  display: block;
  font-family: sans-serif;
}

/* Elementos de classe "campo" de tag <select> e <option>*/
.campo select option {
  padding-right: 1em;
  font-family: sans-serif;
}

/* Elemento de classe "campo" com tag <input>, <select> e <textarea> tocas com estado da pseudoclasse "focus"*/
.campo input:focus, .campo select:focus, .campo textarea:focus {
  background: #E0E0F8;
  font-family: sans-serif;
}

/* Elemento de classe "botao" */
.botao {
  margin: 200px auto;
  font-size: 1.2em;
  background: #59429d;
  border: 0;
  color: #ffffff;
  padding: 0.2em 0.6em;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  position: absolute;
  float: unset;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

/* Elemento de classe "botao" com o estado da pseudoclasse "hover" */
.botao:hover {
  background: #CCBBFF;
  box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
  text-shadow: none;
}

/* Elementos de classe botão e de tag <select> */
.botao, select{
  cursor: pointer;
}

form.formulário{

  width: 600px;
  background-color: white;
  margin: 100px auto 10px auto;
  box-shadow: 0px 0px 200px black;
  padding: 5px 10px 5px 10px;
  border-radius: 30px;
  font-family: sans-serif;
}
form.formulário{

}
footer.rodape{
  clear: both;
  border-top: 1px solid #504c4c;
}

footer.rodape p {
  text-align: center;
  color: white;
}
